# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Inventario.Core.Domain.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\juand\RiderProjects\Inventario.Core.Domain\.idea\.idea.Inventario.Core.Domain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
